<section class="mapa-contenedor">
  <header class="mapa-encabezado">
    <div>
      <p class="mapa-etiqueta">
        {{ textoEtiqueta }}
      </p>

      <h2>
        {{ textoNivel }} {{ nivel }}
      </h2>
    </div>

    <span class="mapa-estado">
      {{ textoEstado }}
    </span>
  </header>

  <div
    *ngIf="hayDatosNivel; else sinDatos"
    class="mapa-superficie"
  >
    <svg
      [attr.viewBox]="
        '0 0 ' +
        anchoVista +
        ' ' +
        altoVista
      "
      role="img"
      [attr.aria-label]="textoAriaMapa"
    >
      <defs>
        <filter
          id="brilloRuta"
          x="-50%"
          y="-50%"
          width="200%"
          height="200%"
        >
          <feGaussianBlur
            stdDeviation="7"
            result="desenfoque"
          />

          <feMerge>
            <feMergeNode
              in="desenfoque"
            />

            <feMergeNode
              in="SourceGraphic"
            />
          </feMerge>
        </filter>

        <filter
          id="brilloActual"
          x="-75%"
          y="-75%"
          width="250%"
          height="250%"
        >
          <feGaussianBlur
            stdDeviation="10"
            result="desenfoqueActual"
          />

          <feMerge>
            <feMergeNode
              in="desenfoqueActual"
            />

            <feMergeNode
              in="SourceGraphic"
            />
          </feMerge>
        </filter>
      </defs>

      <g class="conexiones">
        <line
          *ngFor="
            let conexion of conexionesVisuales;
            trackBy: identificarConexion
          "
          [attr.x1]="
            conexion.origen.xVisual
          "
          [attr.y1]="
            conexion.origen.yVisual
          "
          [attr.x2]="
            conexion.destino.xVisual
          "
          [attr.y2]="
            conexion.destino.yVisual
          "
          [ngClass]="{
            'conexion-ruta':
              conexion.perteneceRuta,
            'conexion-base':
              !conexion.perteneceRuta,
            'conexion-accesible':
              conexion.accesible
          }"
        />
      </g>

      <g
        *ngFor="
          let nodoVisual of nodosVisuales;
          trackBy: identificarNodo
        "
        class="nodo"
        [attr.transform]="
          'translate(' +
          nodoVisual.xVisual +
          ' ' +
          nodoVisual.yVisual +
          ')'
        "
      >
        <circle
          r="18"
          [ngClass]="{
            'nodo-base':
              !nodoVisual.perteneceRuta,
            'nodo-ruta':
              nodoVisual.perteneceRuta,
            'nodo-origen':
              nodoVisual.esOrigen,
            'nodo-destino':
              nodoVisual.esDestino,
            'nodo-actual':
              nodoVisual.esActual
          }"
        />

        <circle
          *ngIf="
            nodoVisual.esOrigen ||
            nodoVisual.esDestino ||
            nodoVisual.esActual
          "
          r="28"
          [ngClass]="{
            'nodo-pulso':
              !nodoVisual.esActual,
            'nodo-pulso-actual':
              nodoVisual.esActual
          }"
        />

        <text
          x="0"
          y="-34"
          text-anchor="middle"
          class="nodo-nombre"
          [ngClass]="{
            'nodo-nombre-actual':
              nodoVisual.esActual
          }"
        >
          {{ nodoVisual.nodo.nombre }}
        </text>

        <text
          *ngIf="nodoVisual.esActual"
          x="0"
          y="5"
          text-anchor="middle"
          class="nodo-marcador-actual"
          aria-hidden="true"
        >
          ●
        </text>
      </g>
    </svg>
  </div>

  <ng-template #sinDatos>
    <div class="mapa-vacio">
      <p>
        {{ textoSinDatos }}
      </p>
    </div>
  </ng-template>

  <footer class="mapa-leyenda">
    <span>
      <i class="leyenda-nodo"></i>
      {{ textoNodo }}
    </span>

    <span>
      <i class="leyenda-ruta"></i>
      {{ textoRuta }}
    </span>

    <span>
      <i class="leyenda-origen"></i>
      {{ textoOrigen }}
    </span>

    <span>
      <i class="leyenda-destino"></i>
      {{ textoDestino }}
    </span>

    <span>
      <i class="leyenda-actual"></i>
      {{ textoUbicacionActual }}
    </span>
  </footer>
</section>